@model MDriven.ASPNETIdentity.ManageUserViewModel


<div class="account__pswd">

  <p class="manage__text-header"><i class="mi mi-lock"></i>Set password</p>

  <p class="account__alert">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
  </p>

  @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "auth-form", role = "form" }))
  {
  @Html.AntiForgeryToken()

  <div class="auth-form__item">
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword, new { @class = "auth-form__input", placeholder = "New password" })
  </div>
  <div class="auth-form__item">
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "auth-form__input", placeholder = "Confirm password" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
  </div>
  <div class="auth-form__item auth-form__item--row">
    <button type="submit" class="auth-form__action">Set passsword</button>
  </div>
  }
</div>


