@using MDriven.ASPNETIdentity
@model LoginViewModel

@if (ViewBag.MicroLayout is bool && ViewBag.MicroLayout)
{
  Layout = null; // When MDrivenDesigner show login page
}
else
{
  ViewBag.Title = "Log in";
}

<div class="tk-auth">

  <div class="tk-auth__inner">

    <div class="tk-auth__action">

      <h1 class="tk-auth__header">@ViewBag.Title</h1>
      <p class="tk-auth__caption">Use your social account or e-mail to log in</p>

      <div class="tk-auth__validation-summary">
        @Html.ValidationSummary()
      </div>

      @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,true, new { @class = "tk-auth-form", role = "form" }))
      {
        @Html.AntiForgeryToken()
        <div class="tk-auth-form__group">
          @Html.LabelFor(m => m.Email, new { @class = "tk-auth-form__label" })
          @Html.TextBoxFor(m => m.Email, new { @class = "tk-auth-form__input", placeholder = "Email adress" })
          @Html.ValidationMessageFor(m => m.Email, "")
        </div>
        <div class="tk-auth-form__group">
          @Html.LabelFor(m => m.Email, new { @class = "tk-auth-form__label" })
          @Html.PasswordFor(m => m.Password, new { @class = "tk-auth-form__input", placeholder = "Password" })
          @Html.ValidationMessageFor(m => m.Password, "")
        </div>
        <div class="tk-auth-form__group inline">
          <button type="submit" class="tk-button__native narrow primary ripple-effect">Login</button>
          <div class="tk-auth-form__checkbox">
            <label class="tk-checkbox__content ripple-effect" for="@Html.NameFor(m => m.RememberMe)">
              @Html.CheckBoxFor(m => m.RememberMe, new { @class = "tk-checkbox__native" })
              <span class="tk-checkbox__interactive"></span>
            </label>
            @Html.LabelFor(m => m.RememberMe)
          </div>
        </div>
      }   
    </div>

    <div class="tk-auth__info">
      <div class="tk-auth__advice">
        <p>Don't have an account? Please, register!</p>
        @Html.ActionLink("Register", "Register", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "tk-auth__link ripple-effect" })
      </div>
      <span class="tk-auth__divider">or</span>
      <div class="tk-auth-social">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
      </div>
    </div>
  </div>
</div>


