@using Eco.MVC
@using System.IO
@using StreamingAppGenericAPIAndControllers
@{
  Layout = "";
}
<!DOCTYPE html>
<html lang=" en">
<head>
  <meta charset=" utf-8" />
  <meta name=" viewport" content=" width=device-width, initial-scale=1.0" />
  <title>Turnkey Blazor beta</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  @if (File.Exists(MapPathService.MapPath("~/Views/EXT_OverridePages/__ExtraMetaTags.cshtml")))
  {
    @await Html.PartialAsync("~/Views/EXT_OverridePages/__ExtraMetaTags.cshtml")
  }
  <base href='@Url.Content("~/")' />
  <title>@ViewBag.ApplicationName</title>

  @if (File.Exists(MapPathService.MapPath("~/favicon.ico")))
  {
    <link rel="shortcut icon" href="~/favicon.ico" />
  }
  @if (File.Exists(MapPathService.MapPath("~/Content/core.css"))) // this is the override css for the site produced by transpiling ~/Content/scss/app.scss
  {
    <link href="@Url.Content("~/Content/core.css")" rel="stylesheet" type="text/css" />
  }
  @if (File.Exists(MapPathService.MapPath("~/Content/scss/theme-user.css")))// this is the default css for the site that is checked in
  {
    <link href="@Url.Content("~/Content/scss/theme-user.css")" rel="stylesheet" type="text/css" />
  }
  else if (File.Exists(MapPathService.MapPath("~/Content/theme-user.css")))
  {
    <link href="@Url.Content("~/Content/theme-user.css")" rel="stylesheet" type="text/css" />
  }
  else if (File.Exists(MapPathService.MapPath("~/Content/theme-default.css")))
  {
    <link href="@Url.Content("~/Content/theme-default.css")" rel="stylesheet" type="text/css" />
  }

  @if (File.Exists(MapPathService.MapPath("~/Views/Shared/_Manifest.cshtml")))
  {
    @await Html.PartialAsync("_Manifest");
  }
  <link href="@Url.Content("~/Content/angular.app.bundle.css")" rel="stylesheet" type="text/css" />

  @if (File.Exists(MapPathService.MapPath("~/Content/tkusercss.css")))
  {
    <link href="@Url.Content("~/Content/tkusercss.css")" rel="stylesheet" type="text/css" />
  }
  @ViewOverrideLogic.Get_EXT_ComponentsCSS()

  @if (File.Exists(MapPathService.MapPath("~/EXT_Scripts/AppWideHeadScript.js")))
  {
    <script src="~/EXT_Scripts/AppWideHeadScript.js"></script>
  }
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="StreaminAppCoreWebApp.styles.css" rel="stylesheet">


</head>
<body>
  <style>
    #blazor-error-ui {
      background: lightyellow;
      bottom: 0;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
      display: none;
      left: 0;
      padding: 0.6rem 1.25rem 0.7rem 1.25rem;
      position: fixed;
      width: 100%;
      z-index: 1000;
    }

      #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
      }
  </style>


  <div id="bodyWrapper">Loading...</div>

  <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
  </div>
  <script src="/_framework/blazor.webassembly.js" autostart=" true"></script>
  <script>

    let _dotnethelper = null;

    function TheResizeCallback() {
      if (_dotnethelper) {
        _dotnethelper.invokeMethodAsync('OnResize', window.innerWidth, window.innerHeight);
      }
    };

    window.registerViewportChangeCallback = (dotnetHelper) => {
      _dotnethelper = dotnetHelper;
      window.addEventListener('resize', TheResizeCallback);
    };

    window.unRegisterViewportChangeCallback = function () {
      window.removeEventListener('resize', TheResizeCallback);
      _dotnethelper = null;
    };


    window.getDimensions = function () {
      return {
        width: window.innerWidth,
        height: window.innerHeight
      };
    };

    window.getBoundingClientRectMDriven = function (elementId) {
      let elem = document.getElementById(elementId);
      if (elem != null)
        return elem.getBoundingClientRect();
      return null;
    };

    window.setCssVarMDriven = function (varname, varvalue) {
      document.documentElement.style.setProperty(varname, varvalue);
    };
  </script>

</body>

</html>